<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Photo Application{% endblock %}</title>
  {% load staticfiles %}

  <link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/application.css" %}">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <script type="text/javascript" src="{% static "javascript/application.js" %}"></script>
</head>

<body>
  <nav>
    <a href="/">home</a>
    <a href="/photos">photos</a>
    <a href="/albums">albums</a>
    <a href="/upload">upload</a>
    <a href="/logout">logout</a>
  </nav>
  <div id="content">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
