{% extends "base.html" %}

{% block content %}

<div id="login-background">
  <img src="/static/images/barcelona_background.jpg">
</div>
<div id="login-form">
  <div class="login-overlay"></div>
<form method="POST">{% csrf_token %}
  <p class="username-input">
    <input id="id_username" maxlength="254" name="username" placeholder="email" type="text" tabindex="1">
  </p>
  <p>
    <input id="id_password" name="password" type="password" placeholder="password" tabindex="2">
  </p>
  <input type="hidden" name="next" value="/" />
  <input type="submit" value="Sign In" tabindex="3" />
</form>
</div>

{% endblock %}
