{% extends "base.html" %}

{% block content %}

<div id="login-background">
  <img src="/static/images/barcelona_background.jpg">
</div>
<div id="login-form">
<form method="POST">{% csrf_token %}
  <p>
    <input id="id_username" maxlength="254" name="username" placeholder="username" type="text">
  </p>
  <p>
    <input id="id_password" name="password" type="password" placeholder="password">
  </p>
  <input type="hidden" name="next" value="/" />
  <input type="submit" value="Sign In" />
</form>
</div>

{% endblock %}
