@accent-color: red;

.background-size(@argument) {
  -webkit-background-size: @argument;
  -moz-background-size: @argument;
  -o-background-size: @argument;
  background-size: @argument;
}

.border-radius(@argument) {
  -webkit-border-radius: @argument;
  -moz-border-radius: @argument;
  border-radius: @argument;

  -moz-background-clip:    padding;
  -webkit-background-clip: padding-box;
  background-clip:         padding-box;
}

.opacity (@opacity: 0.5) {
  -webkit-opacity:  @opacity;
  -moz-opacity:     @opacity;
  opacity:    @opacity;
}

.transition (@transition) {
  -webkit-transition: @transition;
  -moz-transition:    @transition;
  -ms-transition:     @transition;
  -o-transition:      @transition;
}

@main-nav-height: 40px;

nav {
  position: fixed;
  width: 100%;
  background-color: black;
  opacity: 0.85;
  height: @main-nav-height;
  line-height: @main-nav-height;
  overflow: hidden;
  padding-left: 20px;
  text-align: left;
  z-index: 2;

  a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 0 20px;
    -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
    -moz-transition: -moz-transform 0.3s, background-color 0.3s;
    transition: transform 0.3s, background-color 0.3s;
  }

  a:hover {
    background-color: @accent-color;
  }

  a:before {
    display: inline-block;
    position: relative;
    top: 3px;
    content: '';
    height: 20px;
    width: 20px;
    margin-right: 5px;
  }
}

.icon-background(@filename) {
  background-image: url("/static/images/@{filename}");
  .background-size(contain);
  background-repeat: no-repeat;
}

nav a.upload:before { .icon-background('upload.png'); }
nav a.photos:before { .icon-background('slr-camera.png'); }
nav a.home:before { .icon-background('home.png'); }
nav a.albums:before { .icon-background('folder.png'); }
nav a.logout:before { .icon-background('logout.png'); }

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  text-align: center;
}

.photo-container {
  display: inline;
}

.photo-description {
  position: absolute;
  bottom: 20px;
  right: 20px;
  text-align: left;
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 5px;
  opacity: 0.9;
}

img.photo-page {
  display: inline;
  margin: 0 auto;
}

#content {
  padding-top: @main-nav-height;
}

#photo-feed {
  text-align: left;

  .photo {
    display: inline-block;
    height: 250px;
    width: 375px;
    cursor: pointer;
  }

  .column {
    display: inline-block;
    margin-right: 4px;
    vertical-align: top;

    .column:last-child {
      margin-right: 0;
    }
  }

  img {
    height: 100%;
    .opacity(1);
    .transition(opacity 0.3s ease-in-out);

    &.hidden {
      .opacity(0);
    }
  }
}

#photo-manager {
  ul {
    list-style: none;
  }

  li {
    display: inline-block;
    margin-right: 10px;
  }
}

@manager-side-bar-width: 320px;

#side-bar {
  position: fixed;
  width: @manager-side-bar-width;
  top: @main-nav-height;
  left: 0;
  bottom: 0;
}

#photo-manager-feed {
  width: auto;
  position: fixed;
  top: @main-nav-height;
  left: @manager-side-bar-width;
  bottom: 0;
  overflow-y: auto;

  .photo {
    height: 180px;
    width: 180px;
    margin: 10px;
    background-size: cover;
    display: inline-block;
    position: relative;
    overflow: hidden;
    .transition(opacity 0.3s ease-in-out);

    &.hidden {
      .opacity(0);
    }

    &:hover {
      margin: 5px;
      border: 5px solid gray;
      cursor: pointer;
    }

    &.selected {
      margin: 5px;
      border: 5px solid yellow;
    }
  }
}

#uploader, #album-editor {
  width: auto;
  height: 400px;
  overflow: hidden;

  .transition(all 0.3s ease-in-out);

  &.hidden {
    height: 0;
  }
}

#album-editor {
  margin-left: 0px;
}

#uploader label {
  display: none;
}

@-webkit-keyframes progress-bar-stripes {
  from  { background-position: 40px 0; }
  to    { background-position: 0 0; }
}

@keyframes progress-bar-stripes {
  from  { background-position: 40px 0; }
  to    { background-position: 0 0; }
}

.message {
  text-align: left;
  height: 22px;
  margin: 15px 0;
}

.message.success {
  color: green;
}

.message.failure {
  color: red;
}

.message.error409 {
  color: red;
}

#uploader .progress {
  margin-top: 20px;
  height: 20px;
  width: 200px;
  background-color: gray;
  overflow: hidden;

  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  .border-radius(5px);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress .bar.animated {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  -ms-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
  animation: 2s linear 0s normal none infinite progress-bar-stripes;
}

#uploader .progress .bar {
  height: 20px;
  width: 0px;
  background-color: blue;
  -webkit-transition: width 500ms ease;
  -moz-transition: width 500ms ease;
  -o-transition: width 500ms ease;
  transition: width 500ms ease;
  background-color: #149bdf;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  .background-size(40px 40px);
}
