.background-size(@argument) {
  -webkit-background-size: @argument;
  -moz-background-size: @argument;
  -o-background-size: @argument;
  background-size: @argument;
}

.border-radius(@argument) {
  -webkit-border-radius: @argument;
  -moz-border-radius: @argument;
  border-radius: @argument;

  -moz-background-clip:    padding;
  -webkit-background-clip: padding-box;
  background-clip:         padding-box;
}

.opacity (@opacity: 0.5) {
  -webkit-opacity:  @opacity;
  -moz-opacity:     @opacity;
  opacity:    @opacity;
}

.transition (@transition) {
  -webkit-transition: @transition;
  -moz-transition:    @transition;
  -ms-transition:     @transition;
  -o-transition:      @transition;
}

.icon-background(@filename) {
  background-image: url("/static/images/@{filename}");
  .background-size(contain);
  background-position: center;
  background-repeat: no-repeat;
}

@accent-color: red;
@main-nav-width: 80px;

@import 'navigation';
@import 'photo_feed';
@import 'photo_manager';
