body {
  font-family: "Open Sans", Helvetica, sans-serif;
  text-align: center;
}

img.photo-page {
  display: inline;
  margin: 0 auto;
}

#content {
  margin-left: @main-nav-width;
  padding-left: 3px;
}

#photo-feed {
  text-align: left;

  .photo {
    display: inline-block;
    height: 250px;
    width: 375px;
    cursor: pointer;
  }

  .column {
    display: inline-block;
    margin-right: 4px;
    vertical-align: top;

    .column:last-child {
      margin-right: 0;
    }
  }

  .image-in-transition;
}
