{% extends "base.html" %}

{% block content %}
<div id="photo-manager">

<div id="uploader">
  <h4 class="upload">uploader</h4>
  <form class="" action="/api/photos" method="POST" enctype="multipart/form-data">{% csrf_token %}
    {{ form }}
    <input type="file" class="multiple-photos" accept="image/jpeg" multiple>
    <div id="progress-bars" data-success="Successfully uploaded " data-failure="Failed to upload " data-error409="Duplicate file: " data-uploading-message="Uploading file "></div>
  </form>
</div>

<div id="albums-editor">
  <h4 class="edit-albums">album editor</h4>
  <div class="albums-editor">
    <button id="new-album">Create new album</button>
    <form class="hidden">
      <input type="text" name="title" autocomplete="off">
      <input type="submit" value="Save">
    </form>
    <div class="albums"></div>
  </div>
</div>

<div id="album-editor">
  <div class="close-button"></div>
  <div class="album-info">
    <div class="cover-photo"></div>
    <div class="title"></div>
    <div class="about"></div>
    <br>
    <button class="save-album">Save Album</button>
    <button class="delete-album">Delete Album</button>
  </div>
  <div class="controls"><a class="remove-selected">remove selected</a></div>
  <div class="photos"></div>
</div>

<div id="photo-manager-feed">
  <nav>
    <div class="info">
      <span class="selected-count">0</span>
      photos selected
    </div>
    <div class="sort-by">
      sort by <span>&#9663;</span>
      <ul class="dropdown">
        <li data-sort-type="upload-date">upload date</li>
        <li data-sort-type="date-taken">taken date</li>
      </ul>
    </div>
    <div class="bulk-actions photos-selected hidden">
      bulk actions <span>&#9663;</span>
      <ul class="dropdown">
        <li class="delete-link">delete selected</li>
        <li class="add-tags">add tags</li>
        <li class="add-to-albums">
          add to album &#9657;
          <ul class="inner-dropdown">
            <li class="no-albums-notice">no albums</li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <div class="feed-container">
    <div class="bulk-editor">
      <input placeholder="separate tags with a comma" type="text" name="tags" /><button>add tags</button>
    </div>
    <div class="feed"></div>
  </div>
</div>

</div>
{% endblock %}
