{% extends "base.html" %}

{% block content %}
<div id="photo-manager">

<div id="notification"></div>

<div id="meta-manager">
  <nav>
    <a href="#upload" class="upload">upload</a> |&nbsp;
    <a href="#albums" class="edit-albums">edit albums</a> |&nbsp;
    <a href="#photos" class="edit-photos">edit photos</a>
  </nav>
  {% include "photos/manager/uploader.html" %}
  {% include "photos/manager/albums_editor.html" %}
  {% include "photos/manager/photos_editor.html" %}
</div>

<div id="album-editor">
  <div class="close-button"></div>
  <div class="album-info">
    <div class="cover-photo"></div>
    <div class="title"></div>
    <div class="about"></div>
    <br>
    <button class="save-album">Save Album</button>
    <button class="delete-album">Delete Album</button>
  </div>
  <div class="controls"><a class="remove-selected">remove selected</a></div>
  <div class="photos"></div>
</div>

<div id="photo-editor">
  <div class="close-button"></div>
  <img class="hidden" />
  <div class="photo-info">
    <p><label for="public-tags">Tags: (separate tags with commas)</label>
      <br />
    <input name="public-tags"></input></p>
    <button class="save-photo">save photo</button>
  </div>
</div>

<div id="photo-manager-feed">
  <nav>
    <div class="info">
      <span class="selected-count">0</span>
      photos selected
    </div>
    <div class="sort-by">
      sort by <span>&#9663;</span>
      <ul class="dropdown">
        <li data-sort-type="upload-date">upload date</li>
        <li data-sort-type="date-taken">taken date</li>
      </ul>
    </div>
    <div class="bulk-actions photos-selected hidden">
      bulk actions <span>&#9663;</span>
      <ul class="dropdown">
        <li class="delete-link">delete selected</li>
        <li class="add-tags">add tags</li>
        <li class="add-to-albums">
          add to album &#9657;
          <ul class="inner-dropdown">
            <li class="no-albums-notice">no albums</li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <div class="feed-container">
    <div class="bulk-editor">
      <input placeholder="separate tags with a comma" type="text" name="tags" /><button>add tags</button>
    </div>
    <div class="feed"></div>
  </div>
</div>

</div>
{% endblock %}
