{% extends "base.html" %}

{% block content %}
<div id="photo-manager">

<div id="uploader">
  <h4 class="upload">uploader</h4>
  <form class="" action="/api/photos" method="POST" enctype="multipart/form-data">{% csrf_token %}
    {{ form }}
    <input type="file" class="multiple-photos" accept="image/jpeg" multiple>
    <div id="progress-bars" data-success="Successfully uploaded " data-failure="Failed to upload " data-error409="Duplicate file: " data-uploading-message="Uploading file "></div>
  </form>
</div>

<div id="album-editor">
  <h4 class="edit-albums">album editor</h4>
  <div class="album-editor">
    <button id="new-album">Create new album</button>
    <form class="hidden">
      <input type="text" name="title" autocomplete="off">
      <input type="submit" value="Save">
    </form>
    <div class="albums"></div>
  </div>
</div>

<div id="photo-manager-feed">
  <nav>
    <p>
      <span class="selected-count">0</span>
      photos selected
    </p>
    <div class="photos-selected hidden">
      bulk actions:
      <a class="delete-link">delete</a>
      <a class="add-to-albums">add to <select id="album-dropdown"><option></option></select> album</a>
    </div>
  </nav>
  <div class="feed"></div>
</div>

</div>
{% endblock %}
