{% extends "base.html" %}

{% block additional_meta %}
  <meta property="twitter:card" content="photo">
  <meta property="twitter:image" content="{{ photo.thumbnail_url }}">
  <meta property="twitter:url" content="http://{{ request.META.HTTP_HOST }}{% url 'photos.views.show' photo.id %}">
{% endblock %}

{% block content %}

<div class="photo-container">
  <div class="photo-description">
    <div class="username">Photographer: <a href="{% url 'profiles.views.show' photo.user.profile_name %}">{{ photo.user.profile_name }}</a></div>
    {% if photo.date_taken %}<div class="date-taken">Taken: {{ photo.date_taken }}</div>{% endif %}
    {% if photo.camera_model %}<div class="camera-model">Camera Model: {{ photo.camera_model }}</div>{% endif %}
    {% if photo.lens_model %}<div class="lens-model">Lens Model: {{ photo.lens_model }}</div>{% endif %}
    {% if photo.iso %}<div class="iso">ISO: {{ photo.iso }}</div>{% endif %}
    {% if shutter_speed %}
      <div class="shutter-speed">Shutter Speed: {{ shutter_speed }}</div>
    {% endif %}
    {% if f_stop %}
      <div class="f-stop">Aperture: f/{{ f_stop }}</div>
    {% endif %}
    {% if focal_length %}
      <div class="focal-length">Focal Length: {{ focal_length }}mm</div>
    {% endif %}
  </div>
</div>

{% endblock %}
