{% extends "base.html" %}

{% block content %}

<p>{{ user_name }}</p>

<div id="uploader">
  <div class="progress-info">
    <div class="progress">
      <div class="bar"></div>
    </div>
    <p class="message success">Hurrah!</p>
    <p class="message failure">Horrible failure!</p>
    <p class="message error409">Horrible failure! File already uploaded!</p>
  </div>
  <h4>Upload photos here</h4>
  <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
    {{ form.as_p }}
    <p><input type="file" class="multiple-photos" multiple></p>
    <input type="submit" value="Upload" />
  </form>
</div>
{% endblock %}
